<div
  style="
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  "
>
  <div style="display: flex; flex-direction: column">
    <div>Ground truth</div>
    <audio controls>
      <source src="{{ include.src_gt }}" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
  <div style="display: flex; flex-direction: column">
    <div>Model with mel-spectrogram only</div>
    <audio controls>
      <source src="{{ include.src_mel }}" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
  <div style="display: flex; flex-direction: column">
    <div>Model with PPG only</div>
    <audio controls>
      <source src="{{ include.src_ppg }}" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
  <div style="display: flex; flex-direction: column">
    <div>Model with both features</div>
    <audio controls>
      <source src="{{ include.src_comb }}" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
</div>
